div#RegistrationBlock{width:285px;border:5px solid #ddd;padding:10px;margin:auto}
body{background-image: url('../Images/G.jpg'); background-repeat:no-repeat; background-size:cover; min-height:100vh}
div#RegistrationBlock2{background-image: url('../Images/F2.jpg');color:black; padding:20px}
div#RegistrationBlock3{background-color: #0A0F48;color:#00E9FF; padding:0px}
div#RegistrationBlock4{background-color:#0A0F48;color:#00E9FF;padding:0px;font-family:calibri}
div#RegistrationBlock5{background-image: url('../Images/F1.jpg');color:#B6FF00;padding:1px}
h2#Marquee{direction:left}
div#RegistrationBlock6{background-image: url('../Images/F1.jpg');color:#00FFA8;padding:20px;font-size:18px}
h2#Upload{background-color: black;color:#00E9FF; border: 2px solid #ddd}
Label#UploadLabel{color:orange; font-family:calibri}
input#Button{background-color:red; color:white; border:2px solid white; cursor:pointer}
input#Button:hover{background-color:yellow; color:black; border:2px solid black; cursor:pointer}

div#LoginBlock{width:285px;border:5px solid #ddd;padding:10px;margin:auto}
body{background-image: url('../Images/G.jpg'); background-repeat:no-repeat; background-size:cover; min-height: 100vh}
div#LoginBlock2{background-image: url('../Images/F2.jpg');color:black; padding:20px}
div#LoginBlock3{background-color: #0A0F48;color:#00E9FF; padding:0px}
div#LoginBlock4{background-color:#0A0F48;color:#00E9FF;padding:0px;font-family:calibri}
div#LoginBlock5{background-image: url('../Images/F1.jpg');color:#B6FF00;padding:1px}
h2#Marquee{direction:left}
div#LoginBlock6{background-image: url('../Images/F1.jpg');color:#00FFA8;padding:20px;font-size:18px}
input#Button{background-color:red; color:white; border:2px solid white; cursor:pointer}
input#Button:hover{background-color:yellow; color:black; border:2px solid black; cursor:pointer}

/*js validation*/
h4#jsnameerror{color:orange; margin:7px}
h4#jsfnameerror{color:orange; margin:7px}
h4#jslnameerror{color:orange; margin:7px}
h4#jspasserror{color:orange; margin:7px}
h4#jsemailerror{color:orange; margin:7px}
h4#jsgendererror{color:orange; margin:7px}
h4#jsprofessionerror{color:orange; margin:7px}
h4#jsdateerror{color:orange; margin:7px}
h4#jsuploaderror{color:orange; margin:15px}