input#Button{background-color:red; color:white; border:2px solid white; cursor:pointer; font-weight:bold;
    display:block;
    border-radius: 50px;  
    width:50%;
    margin-left:25%;
    margin-right:25%;}
input#Button:hover{background-color:green; color:white; font-weight:bold; border:2px solid white;  border-radius: 50px; cursor:pointer;
    display:block;
    width:50%;
    margin-left:25%;
    margin-right:25%;}
.link a{background-color:yellow; color:black; border:2px solid black; cursor:pointer; font-family:calibri; text-decoration: none;
  font-weight: 600;
  padding: 1px 30px;
  text-decoration: none;
  text-transform: uppercase; 
  border-radius: 50px;
  display: inline-block;
  border: 3px solid black;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
  margin-left:60px;
  margin-bottom:30px;
  transition-property: background;
    }
.link a:hover{background-color:darkblue; color:white; border:2px solid white; cursor:pointer; text-decoration: none;
}